.App {
  text-align: center;
}

.App-header {
  background-color: #09464c;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .left {
  margin-left: 16px;
  align-items: center;
  justify-content: center;
}

.App-header .right {
  margin-right: 16px;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 8vmin;
  filter: invert(1);
  pointer-events: none;
}

.App-desc {
  float: right;
}

.App-link {
  color: #61dafb;
}